@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&family=Space+Mono&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #161236;
  color: #7f7e94;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

h1, h2, h3, h4 {
  color: #c6c5db;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

.wrapper-padding {
  padding: 100px;
  padding-top: 0px;
}

.header-section {
  padding-top: 55px !important;
}

@media (max-width: 900px) {
  .wrapper-padding {
    padding: 30px;
    padding-top: 0px;
  }
}
.navbar span {
  font-size: 0.8rem;
}
.navbar a {
  color: #7f7e94 !important;
  font-weight: 700;
}
.navbar a:hover {
  color: white !important;
}
.navbar .active {
  color: #7f7e94 !important;
}

span {
  color: #67e6bb;
  font-family: "Space Mono", monospace;
}

.btn {
  font-family: "Space Mono", monospace;
  color: #67e6bb;
  border-color: #67e6bb;
}
.btn:hover {
  background-color: #67e6bb !important;
  color: #161236 !important;
  border-color: #67e6bb !important;
}

.btn-primary {
  background-color: #161236;
  color: #67e6bb !important;
}
.btn-primary:hover {
  color: #161236 !important;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}

.navbar {
  color: #afadcc;
  background-color: rgba(22, 18, 54, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0px 10px 10px rgba(22, 18, 54, 0.8);
}
.navbar a {
  color: #67e6bb;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(103, 230, 187)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#hero {
  margin-top: 100px !important;
  padding-bottom: 120px !important;
}

.logo {
  position: relative;
  width: 140px;
  height: 25px;
  text-align: center;
  padding-top: 3px;
}
.logo h3 {
  font-size: 16px;
  font-family: "Space Mono", monospace;
  font-weight: 200 !important;
  text-transform: none;
}
.logo .keys {
  width: 3px;
  height: 15px;
  border-radius: 10px;
  background-color: #67e6bb;
  position: absolute;
  top: 0;
}
.logo #key1 {
  rotate: 45deg;
}
.logo #key2 {
  rotate: -45deg;
  top: 9px;
}
.logo #key3 {
  rotate: -45deg;
  right: 0px;
}
.logo #key4 {
  rotate: 45deg;
  right: 0px;
  top: 9px;
}

.skills {
  margin-bottom: 40px;
}
.skills span {
  border: solid 1px #67e6bb;
  padding: 5px;
  border-radius: 5px;
  line-height: 50px;
}

#skills .card {
  border: solid 1px #67e6bb;
  min-height: 740px !important;
}

.card {
  background-color: #161236;
  text-align: center;
  margin-bottom: 30px;
  min-height: 400px;
}
.card ul {
  list-style: none;
  padding: 0px;
}
.card li {
  margin: 0px;
  padding: 0px;
}
.card h5 {
  margin-bottom: 20px;
  color: #afadcc;
}
.card .card-icon {
  width: 60px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

#portfolio .card {
  border-color: #67e6bb;
}

#contact .form-control {
  background: none;
  border: solid 1px #67e6bb;
  color: #67e6bb;
  margin-bottom: 30px;
}
#contact .form-control::placeholder {
  color: #67e6bb;
}
#contact textarea {
  height: 174px;
}

.footer a {
  color: #afadcc;
  text-decoration: none;
  font-family: "Space Mono", monospace;
}

#contact {
  margin-bottom: 150px;
}

/*# sourceMappingURL=style.css.map */
