//Imports
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&family=Space+Mono&display=swap');

$font1: 'Rubik', sans-serif;
$font2: 'Space Mono', monospace;

$color1: rgb(175, 173, 204);
$color2: rgb(103, 230, 187);
$color3: rgb(22, 18, 54);
$color4: rgb(127, 126, 148);

body{
    background-color: $color3; 
    color: $color4;
    font-family: $font1;
    font-weight: 300;
    font-size: 1rem;
}
h1, h2, h3, h4{
    color: rgb(198, 197, 219);
    font-weight: 700;
}
h1{
    font-size: 3rem;
}
.wrapper-padding{
    padding: 100px;
    padding-top: 0px;
}
@media (max-width: 900px) {
    .wrapper-padding{
        padding: 30px;
        padding-top: 0px;
    }
}
.navbar{
    span{
        font-size: 0.8rem;
    }
    a{
        color: $color4 !important;
        font-weight: 700;
        &:hover{
            color: white !important;
        }
    }
    .active{
        color: $color1 !important;
    }
}
span{
    color: rgb(103, 230, 187);
    font-family: $font2;
}
.btn{
    font-family: $font2;
    color: $color2;
    border-color: $color2;
    &:hover{
        background-color: $color2 !important;
        color: $color3 !important;
        border-color: $color2 !important;
    }
}
.navbar{
    color: $color1;
    a{
        color: $color2;
    }
    background-color: rgb(22, 18, 54, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 10px 10px rgb(22, 18, 54, 0.5);;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(103, 230, 187)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#hero{
    margin-top: 100px !important;
    padding-bottom: 120px !important;
}

//Logoo
.logo{
    position: relative;
    width: 140px;
    height: 25px;
    text-align: center;
    padding-top: 3px;
    h3{
        font-size: 16px;
        font-family: $font2;
        font-weight: 200 !important;
        text-transform: none;
    }
    .keys{
        width: 3px;
        height: 15px;
        border-radius: 10px;
        background-color: $color2;
        position: absolute;
        top: 0;
    }
    #key1{
        rotate: 45deg;
    }
    #key2{
        rotate: -45deg;
        top: 9px;
    }
    #key3{
        rotate: -45deg;
        right: 0px;
    }
    #key4{
        rotate: 45deg;
        right: 0px;
        top: 9px;
    }

}
.skills{
    margin-bottom: 40px;
    span{
        border: solid 1px $color2;
        padding: 5px;
        border-radius: 5px;
    }
}
#skills{
    .card{
        border: solid 1px $color2;
    }
}
.card{
    background-color: $color3;
    text-align: center;
    ul{
        list-style: none;
        padding: 0px;
    }
    li{
        margin: 0px;
        padding: 0px;
    }
    h5{
        margin-bottom: 20px;
        color: $color1;
    }
    .card-icon{
        width: 60px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .btn-primary{
        background-color: $color3;
        color: $color2 !important;
        &:hover{
            color: $color3 !important;
        }
    }
}
#portfolio{
    .card{
        margin-bottom: 30px;
        border-color: $color2;
    }
}
.footer{
    a{
        color: $color1;
        text-decoration: none;
        font-family: $font2;
    }
}